<nav class="navbar navbar-inverse">
  <div class="container-fluid-nav row">

		<div class="text-left col-xs-3">
      <button type="button" class="btn btn-default navbar-btn" routerLink="../../">Cofnij</button>
    </div>
    <div class="text-center col-xs-6">
      <a href=""><h1>Trening A</h1></a> 
    </div>
    <div class="text-right col-xs-3">
      
    </div>
    
  </div>
</nav>

<div class="center">
  <div class="container-fluid row">

    <div class="col-xs-10 text-center">
      <app-szablon-cwiczenia *ngFor="let szablonCwiczenia of szablonyCwiczen; let i = index"  [szablonCwiczenia]="szablonCwiczenia" [nr] = i></app-szablon-cwiczenia>
      <button>Dodaj ćwiczenie</button>
    </div>

    <div class="col-xs-2">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Opcje
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>Czy przerwy
            <input type="radio" name="yesNoRadio" value="tak" [ngModel]="initialTakNie" required/>
            Tak
            <input type="radio" name="yesNooRadio" value="nie" [ngModel]="initialTakNie" required/>
            Nie
          </li>
          <li><a href="#" routerLink="">Czas</a></li>
          <li><a href="#">Znacznik treningu (kolor)</a></li>
        </ul>
      </div>
      <div class="start"><button class="btn btn-success">Start</button></div>
    </div>

  </div>
  <div class="container-fluid row">

    <div class="col-xs-10 text-center">
    
    </div>

    <div class="col-xs-2 ">
      <div class=""><button class="btn btn-success">Zapisz trening</button></div>
    </div>

  </div>
</div>
