<nav class="navbar navbar-inverse">
  <div class="container-fluid-nav row">

		<div class="text-left col-xs-3">
      <button type="button" class="btn btn-default navbar-btn" routerLink="../../">Cofnij</button>
    </div>
    <div class="text-center col-xs-6">
        <input #nazwaPlanuInput="ngModel"
        [(ngModel)]="planTreningowy.nazwaPlanu"
        type="string"
        name="nazwaPlanu"
    />
    </div>
    <div class="text-right col-xs-3">
      
    </div>
    
  </div>
</nav> 

<div class="center">
  <div class="container-fluid row">

    <div class="col-xs-10 text-center">
      <app-szablon-cwiczenia *ngFor="let szablonCwiczenia of planTreningowy.szablonyCwiczen; let i = index"  [szablonCwiczenia]="szablonCwiczenia" [nr] = "i"></app-szablon-cwiczenia>
      <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" novalidate>
          <input #nazwaCwiczeniaInput="ngModel"
          [(ngModel)]="domyslnaNazwaCwiczenia"
          type="string"
          name="nazwaCwiczenia"
      />
        <button type="submit">Dodaj ćwiczenie</button>
      </form>
    </div>

    <div class="col-xs-2">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Znacznik treningu
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          
          <li>
            <input type="radio" name="kolorRadio" value="dostepneKolory.niebieski" required/>
            Niebieski
          </li>
          <li>
            <input type="radio" name="kolorRadio" value="dostepneKolory.żółty" required/>
            Żółty
          </li>
          <li>
            <input type="radio" name="kolorRadio" value="dostepneKolory.czerwony" required/>
            Czerwony
          </li>
        
        </ul>
      </div>
      <div class="start"><button class="btn btn-success">Start</button></div>
    </div>

  </div>
  <div class="container-fluid row">

    <div class="col-xs-10 text-center">
    
    </div>

    <div class="col-xs-2 ">
      <div class=""><button (click)="zapisz()" class="btn btn-success">Zapisz trening</button></div>
    </div>

  </div>
</div>
