<nav class="navbar navbar-inverse">
  <div class="container-fluid row">

		<div class="text-left col-md-3">
      <button type="button" class="btn btn-default navbar-btn" routerLink="/">Cofnij</button>
    </div>
    <div class="text-center col-md-6 row">
      <a href=""><div class="col-md-6"><h1>Trening A</h1></div></a>
    </div>
    <div class="text-right col-md-3">
      <button type="button" class="btn btn-default navbar-btn">BUTTON2</button>
    </div>
    
  </div>
</nav>

<div class="center">
  <div class="container-fluid row">

    <div class="col-md-10 text-center">
      <app-szablon-cwiczenia *ngFor="let szablonCwiczenia of szablonyCwiczen" [szablonCwiczenia]="szablonCwiczenia"></app-szablon-cwiczenia>
      <button>Dodaj ćwiczenie</button>
    </div>

    <div class="col-md-2">
      <div><h1>Przycisk dropdown: czy przerwy > ile czasu przerwa, kolor do wyboru</h1></div>
      <div><h1>Przycisk rozpocznij trening</h1></div>
    </div>

  </div>
  <div class="container-fluid row">

    <div class="col-md-10 text-center">
    
    </div>

    <div class="col-md-2 ">
      <h1>Zapisz trening</h1>
    </div>

  </div>
</div>
