<form #form="ngForm" (ngSubmit)="onSubmit(form.value)" novalidate>
<div class="row">
  <label class="col-xs-4">Nazwa ćwiczenia</label>
  <div class="col-xs-8">
    <input #nazwaCwiczeniaInput="ngModel"
        [(ngModel)]="domyslnaNazwaCwiczenia"
        type="string"
        name="nazwaCwiczenia"
        required
    />
    <div class="error" *ngIf="nazwaCwiczeniaInput.hasError('required')">Musi być wypełnione</div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-8">
    <button type="submit" [disabled]="form.invalid">Dodaj ćwiczenie</button>
  </div>
</div>
  
  

</form>
