<!--The content below is only a placeholder and can be replaced.-->
<div class="topka container" style="top: 0px; left: 0px;">
  <h1 style="text-align:center">
    {{title}}
  </h1>
  <div class="row">
    <div>
      <a href="#"><button class="guzik-top guzik1 col-sm-4">Trening</button></a>
    </div>
    <div>
      <a href="#"><button class="guzik-top guzik2 col-sm-4">Moje plany</button></a>
    </div>
    <div>
      <a href="#"><button class="guzik-top guzik3 col-sm-4">Kalendarz</button></a>
    </div>

  </div>
</div>

<div class="reszta">
  <app-panel-plany></app-panel-plany>
</div>


