.topka {
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(to bottom, #71da71, #0c8000 70%);
    width: 100%;
    color: black;
    z-index: 1000;
    padding: 0;
}
.guziki {
    list-style: none;
    padding: 0;
    margin: 0;
}
.guzik-top {
    margin-left: 0;
    text-align:center;
    font-size: 16px;
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #009900;
    background:linear-gradient(to right bottom, #009900, grey);
}
.guzik-top:hover {
    background:linear-gradient(to right bottom, #0c8000, grey);
    cursor: pointer;
    color: rgb(20, 20, 129);
}
.reszta {
    
}
