<nav class="navbar navbar-inverse">
  <div class="container-fluid-nav row">

		<div class="text-left col-xs-2">
      <button type="button" class="btn btn-default navbar-btn" routerLink="/">Cofnij</button>
    </div>
    <div class="text-center col-xs-5 row">
      <a href=""><div class="col-xs-6"><h1>Trening A</h1></div></a>
    </div>
    <div class="text-right col-xs-5">
      <a href=""><div class="col-xs-6"><h1>Data</h1></div></a>
    </div>
    
  </div>
</nav>

<div class="center">

  <div class="row czas">
    
      <div id="czas" class="col-xs-6"><app-timer></app-timer></div>
      <div class="col-xs-6"><button class="btn btn-danger reset-btn">Reset</button></div>

  </div>

  <div class="container-fluid row">

    <div class="col-xs-10 text-center">
      <app-cwiczenie *ngFor="let cwiczenie of cwiczenia; let i = index" [cwiczenie] = "cwiczenie" [nr] = "i"></app-cwiczenie>
      <app-dodaj-cwiczenie></app-dodaj-cwiczenie>
    </div> 

    <div class="col-xs-2">
      <div><button id="poprzedni-btn" class="btn btn-success">Zobacz poprzedni</button></div>
    </div>

  </div>
  <div class="container-fluid row">

    <div class="col-xs-10 text-center">
    
    </div>

    <div class="col-xs-2 ">
      <button id="zapisz-btn" (click)="zapiszTrening()" class="btn-success zapisz-btn">Zapisz trening</button>
    </div>

  </div>
</div>